*.class
*.jar
*.war
*.ear
target/
build/

# Configuraciones de IDEs
.idea/
*.iml
*.iws
out/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
.vscode/
*.log
.DS_Store
Thumbs.db